
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model MeuControleFinanceiro.Models.LancamentoModel

@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.TipoLancamento);

    <div class="row">
        <div class="col-sm">

            @if (Model.TipoLancamento == "DESPESA")
            {
                <h3>Nova Despesa</h3>
            }


            @if (Model.TipoLancamento == "RECEITA")
            {
                <h3>Nova Receita</h3>
            }


            @if (Model.TipoLancamento == "CARTAOCREDITO")
            {
                <h3>Novo Lancamento Cartão de Crédito</h3>
            }



        </div>
    </div>

    <div class="row">
        <div class="col-sm form-group">
            Descrição:
            @Html.DevExtreme().TextBox().Name("descricao").Placeholder("Descrição")
        </div>
    </div>
    <div class="row">
        <div class="col-sm form-group">
            Recorrência:
            @(Html.DevExtreme().LookupFor(m=>m.Recorrencia)
                        .SearchEnabled(false)
                        .DataSource(new[] {"Nenhuma","Parcelada","Fixa Mensal" })
                        .Placeholder("Recorrência")
                        )
        </div>
        <div class="col-sm form-group">


            Valor:
            @(Html.DevExtreme().TextBoxFor(m=>m.Valor))


        </div>


        <div class="col-sm form-group">
            Vencimento:
            @(Html.DevExtreme().DateBoxFor(m=>m.DataLancamento).DisplayFormat("dd/MM/yyyy")
            .Placeholder("Data")
                        )
        </div>
    </div>

    <div class="row">
        <div class="col-sm form-group">
            Categoria:
            @(Html.DevExtreme().LookupFor(m=>m._idCategoria).DataSource(ds=>ds.WebApi().Controller("CategoriaApi").LoadAction("Get"))
                        .SearchEnabled(false)
                        .Placeholder("Categoria")
                        .ValueExpr("_id")
                        .DisplayExpr("Categoria")
                        )
        </div>

        <div class="col-sm form-group">
            Conta:
            @(Html.DevExtreme().LookupFor(m=>m._idConta).DataSource(ds=>ds.WebApi().Controller("ContaApi").LoadAction("Get"))
                        .SearchEnabled(false)
                        .Placeholder("Conta")
                        .ValueExpr("_id")
                        .DisplayExpr("Nome")
                        )
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Salvar</button>


}



