@model MeuControleFinanceiro.Models.ReceitaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm">
            <h3>Nova Receita</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm form-group">
            Descrição:
            @Html.DevExtreme().TextBox().Name("descricao").Placeholder("Descrição")
        </div>
    </div>
    <div class="row">
        <div class="col-sm form-group">
            Recorrência:
            @(Html.DevExtreme().Lookup()
                        .SearchEnabled(false)
                        .DataSource(new[] {"Nenhuma","Parcelada","Fixa Mensal" })
                        .Placeholder("Recorrência")
                        )
        </div>
        <div class="col-sm form-group">


            Valor:
            @(Html.DevExtreme().TextBoxFor(m=>m.Valor))


        </div>


        <div class="col-sm form-group">
            Data Recebimento
            @(Html.DevExtreme().DateBoxFor(m=>m.DataLacamento).Placeholder("Data Recebimento")
                        )
        </div>
    </div>

    <div class="row">
        <div class="col-sm form-group">
            Categoria:
            @(Html.DevExtreme().LookupFor(m=>m._idCategoria).DataSource(ds=>ds.WebApi().Controller("CategoriaApi").LoadAction("Get"))
                        .SearchEnabled(false)
                        .Placeholder("Categoria")
                        .ValueExpr("_id")
                        .DisplayExpr("Categoria")
                        )
        </div>

        <div class="col-sm form-group">
            Conta:
            @(Html.DevExtreme().LookupFor(m=>m._idConta).DataSource(ds=>ds.WebApi().Controller("ContaApi").LoadAction("Get"))
                        .SearchEnabled(false)
                        .Placeholder("Conta de Recebimento")
                        .ValueExpr("_id")
                        .DisplayExpr("Nome")
                        )
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Salvar</button>


}
