@model IEnumerable<MeuControleFinanceiro.Models.ContaDetalhe>
@{
    ViewBag.Title = "Index";
}

<style>
    .row {
        padding-top: 20px;
    }
</style>


<div class="row">
    <div class="col-sm form-inline ">
        <h3>Minhas Contas</h3>
    </div>


</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm">

            <div class="card">

                <div class="card-header">
                    <span>@item.Nome</span>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <span>Saldo inicial: R$ @item.ValorInicial</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <span>Total Receita: @item.TotalReceita</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    }
</div>

<div class="row">
    <div class="col-sm  text-lg-right">
        <h5 style="color:green">Saldo Total: R$ 7.000,00</h5>
    </div>

</div>


@(Html.DevExtreme().SpeedDialAction()
    .ID("action-edit")
    .Icon("add")
    .Visible(true)
    .Label("")
    .Index(1)
    .OnClick("addReceita")
   )

<script>

     function addReceita () {

        window.location.href = '@Url.Action("AddConta")';
    }

</script>
